.container {
    // border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.container a {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    color: black;
    font-size: 1.6rem;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.section:hover {
    background-color: black;
    color: white;
}
