.container {
    // border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.container a {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    color: black;
    font-size: 1.6rem;
}
a .section:hover {
    background-color: black;
    color: white;
}
