.table {
    padding: 10px;
    .tableCell {
        font-size: 1.4rem;
    }
    .cellWrapper {
        display: flex;
        align-items: center;
        // font-size: 1.4rem;

        .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
    td:last-child,
    th:last-child {
        text-align: left !important;
    }
    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }
        &.Pending {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
        }
    }
}
