.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stars {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    font-size: 1.4rem;
}
.wrapper-title {
    font-size: 2.2rem;
}
.wrapper-input {
    margin-top: 10px;
    font-size: 1.6rem;
    font-size: 1.2rem;
    border: 1px solid #a9a9a9;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
}
.wrapper-text {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0px;
    min-height: 100px;
    width: 300px;
    font-size: 1.2rem;
}
.wrapper-btn {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    font-size: 1.4rem;
}
